{% extends 'store/base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
{% comment %} using bootstrap display the details of the book listed for sale {% endcomment %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ book.cover.url }}" alt="{{ book.title }}" class="img-thumbnail">
        </div>
        <div class="col-md-8">
            <h1>{{ book.title }}</h1>
            <p>💵 {{ book.price }}</p>
            <p>{{ book.description }}</p>
            <p>📞 {{ book.seller.phone }} {{ book.contact_number }}</p>
        </div>
    </div>
</div>
{% endblock content %}
