{% extends 'store/base.html' %} {% load static %} 
{% block title %}Home
{% endblock %} {% block content %}

{% comment %} hero image {% endcomment %}

<div class="container">
    <div class="row">
        <div>
            <img src="{% static 'hero.png' %}" alt="hero image" class="img-fluid">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <a href="{% url 'store:get_books' %}" class="btn btn-primary btn-lg">Browse Books</a>
                <a href="{% url 'store:add_book' %}" class="btn btn-success btn-lg">Sell a Book</a>
            </div>
        </div>
    </div>
{% endblock content %}
