{% extends "base.html" %} {%block content%}
<main class="container">
  <h1>Sign up</h1>
  <form method="POST">
    {% csrf_token %}
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">User name</label>
      {{ form.username }}
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">{{ form.id.label_tag }} {{ form.id }}</div>

    <div class="form-outline mb-4">
      {{ form.email.label_tag }} {{ form.email }}
    </div>
    <div class="form-outline mb-4">
      {{ form.password.label_tag }} {{ form.password }}
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">
      Sign up
    </button>
    {{form.errors}}

    <!-- Register buttons -->
    <div class="text-center">
      <p>Or<a href="/login">login</a></p>
    </div>
  </form>
</main>
{% endblock %}
