{% extends 'home/base.html' %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
{% load static %}
<header class="second-head mt-5" >
<div class="row featurette justify-content-center " >
      <div class="col-md-8 text-center ">
        <h2 class="featurette-heading fw-normal lh-1"> 
             <span class style="color:#4b4d4f">You can book the appropriate bus to travel safely from home to school.</span></h2>
        <p class="lead"> 
School buses for students include all industrial districts of Jubail with the latest safety specifications to serve our students.</p>
  </div>
    </div> 
  
 


<div class = "row justify-content-center mt-4" >

   <a href="{% url 'home:add' %}" class="nav-link px> col-2">
        <input type='submit' value='Al Farouk'  class='btn btn-secondary'/>
  </a>

   <a href="{% url 'home:add2' %}" class="nav-link px> col-2">
        <input type='submit' value='Al Fordos'  class='btn btn-secondary'/>
  </a>
</div>
</header>
{% endblock %}